fastapi
uvicorn
SQLAlchemy
pydantic
python-dotenv
google-auth
google-auth-oauthlib
google-api-python-client
requests
httplib2
requests-oauthlib
tiktoken
faiss-cpu
langchain
huggingface-hub
sentence-transformers
pandas
numpy
psycopg2
bs4
langchain-community
yfinance
